body {
    font-family: Arial;
}
/*ul, ol {
    list-style: none;
    padding: 0;
}*/

ul {
    list-type:square;
}

ol {
    list-style: upper-latin;
}

.menu {
    background: #4357ad;
    width: 200px;
    list-style: none;
    padding: 0;
    text-align:center;

}
.menu li {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.menu li a {
    padding: 15px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {

    background: #4888d6;
}